.footer_title {
    font-family: 'Yeon Sung', cursive;
}

.header_title {
    font-family: 'Yeon Sung', cursive;
}

.footer_menu {
    font-size: .6rem
}

.footer_top {
    text-align: center; margin-top: 2rem;
}