{% load static %}
<head>
    <meta charset="UTF-8">
    <title>pinterestCloncoding</title>
{# bootstrap#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">

{#    DEFAULT CSS LINK#}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
</head>